@model Binariks_task.Models.Team
@{

}
    <h4>The best team in terms of goals scored in all league</h4>
<table class="table">

    <tr><td>Team</td><td>Total Scored</td><td>Total Missed</td></tr>
    <tr><td>@Model.Name</td><td>@Model.TotalScored</td><td>@Model.TotalMissed</td></tr>


</table>
