@model Binariks_task.Models.ReitingData
@{

}
    <h4>The most productive day in all leagues </h4>
    <table class="table">
        <tr><td>Data</td><td>Total Scored</td></tr>
                <tr><td>@Model.Data</td><td>@Model.TotalScoredGoals</td></tr>
        </table>
