@{
    ViewData["Title"] = "Home Page";
}

    
        <h1 class="display-4">Welcome</h1>
        
        <div>
            <div class="col-md-12 ">
                <div class="list-group ">
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="BestAttakingTeam"><h3>1.The best attacking team which scored the most goals in its league</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="BestProtectiveTeam"><h3>2.The best defensive team which conceded the fewest goals in its league</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="BestScoredMissedTeam"><h3>3.The best team in terms of goals scored in all league</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="MostEffectiveData"><h3>4.The most productive day in all leagues</h3></a>
                </div>
            </div>
        </div>
   


@*<div>
    <h4>1.The best attacking team which scored the most goals in its league</></h4>
    <h4>2.The best defensive team which conceded the fewest goals in its league</h4>
    <h4>3.The best team in terms of goals scored in all league</h4>
    <h4>4.The most productive day in all leagues </h4>
</div>*@

